{% extends 'base.html.twig' %}


{% block body %}


<div>
  Tvoje úroveň je
  {% if app.user.roles.0 == 'ROLE_SUPERADMIN' %}
  superadmin
  <!-- {{dump(app.user)}} -->
  {% endif %}
</div>
<div>
  Přidat psa
</div>
<div>
  Upravit psa
</div>
<div>
  Odebrat psa
</div>

{% endblock %}
