{% extends 'base.html.twig' %}


{% block body %}


<div>
  Tvoje úroveň je
  {% if app.user.roles.0 == 'ROLE_SUPERADMIN' %}
  superadmin
  <!-- {{dump(app.user)}} -->
  {% endif %}
</div>
<a href='/admin/add'>
  Přidat vrh
</a>
<br>
<a href='/admin/editVrh'>
  Upravit vrh
</a>
<div>
  Upravit psa
</div>
<div>
  Odebrat psa
</div>

{% endblock %}
