{% extends 'base.html.twig' %}


{% block body %}

<table>

  <tr>
    <td>
      {{dump(dogs.otec)}}
    </td>
  </tr>

  <tr>
    <td>
      {{dump(dogs.matka)}}
    </td>
  </tr>

</table>
{{dump(dogs)}}

{% endblock %}
