index:
   path: /
   controller: App\Controller\HomeController::homepage

show:
   path: /show
   controller: App\Controller\HomeController::show


app_login:
   path: /login
   controller: App\Controller\AuthController::login

app_logout:
   path: /logout
   controller: App\Controller\AuthController::logout

logged:
   path: /logged
   controller: App\Controller\HomeController::logged


#database and showing dogs

database:
  path: /database
  controller: App\Controller\Database::overview

displayDogWithDog:
  path: /pes/{dogID}/{dogname}
  controller: App\Controller\Database::displayDog
  options:
    expose: true

displayDog:
  path: /pes/{dogID}
  controller: App\Controller\Database::makeRouteWithDogsName


#admin area
exists:
  path: /exists
  controller: App\Controller\Admin::exists
  options:
    expose: true


admin:
  path: /admin
  controller: App\Controller\Admin::admin

add:
  path: /admin/add
  controller: App\Controller\Admin::add

adding:
  path: /admin/adding
  controller: App\Controller\Admin::adding

editVrh:
  path: /admin/editVrh
  controller: App\Controller\Admin::editVrh

checkSqlVrh:
  path: /admin/checkSqlVrh
  controller: App\Controller\Admin::checkSqlVrh

editingVrh:
  path: /admin/editingVrh
  controller: App\Controller\Admin::editingVrh

editPes:
  path: /admin/editPes/{dogID}
  controller: App\Controller\Admin::editPes
  defaults:
    dogID: ''

checkSqlPes:
  path: /admin/checkSqlPes
  controller: App\Controller\Admin::checkSqlPes

editingPes:
  path: /admin/editingPes
  controller: App\Controller\Admin::editingPes

removePes:
  path: /admin/removePes
  controller: App\Controller\Admin::removePes

removingPes:
  path: /admin/removingPes
  controller: App\Controller\Admin::removingPes

removeVrh:
  path: /admin/removeVrh
  controller: App\Controller\Admin::removeVrh

removingVrh:
  path: /admin/removingVrh
  controller: App\Controller\Admin::removingVrh

#API

overviewAPI:
  path: /API/database
  controller: App\Controller\API::databaseAPI
  options:
    expose: true
