index:
   path: /
   controller: App\Controller\HomeController::homepage


show:
   path: /show
   controller: App\Controller\HomeController::show


login:
   path: /login
   controller: App\Controller\HomeController::login

logged:
   path: /logged
   controller: App\Controller\HomeController::logged

logout:
   path: /logout
   controller: App\Controller\HomeController::logout

database:
  path: /database
  controller: App\Controller\Database::database

admin:
  path: /admin
  controller: App\Controller\Admin::admin
