

#pedigree td {
  border: 1px solid black;
}

#info {
  width:50%;
}

table {
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align:center;
}


td {
  min-height: 30px;
}

table div {
  padding:5px;
}


.cellAdd {
  text-align:center;
}

.form-add {
  border-radius:5px;
}

form {
  padding-left:20px;
  left:30%;
  position:relative;
  width:50%;
  // text-align:center;
}

form {
  label {
    width:150px;
    display:inline-block;
    text-align:right;
    padding-right:20px;
  }
}

.pedigreeLabel {
  padding-right:10px;
  width:auto;
}

button {
  text-align:center;
  display:block;
  margin:auto;
  margin-bottom:100px;
}

#pedigree_add {
  top:50px;
  margin-bottom: 50px;
  width:180%;
  position:relative;
  left:-53%;
}

#pedigree_add {
  tr, td {
    border: 1px solid black;
  }
  border-collapse: collapse;
}

.choice {
  position:absolute;
  background-color: grey;
  color:white;
  padding:0px;
  max-height:290px;
  overflow-y: hidden;
}

.choice:hover {
  overflow-y: auto;
}

.option {
  font-size: 14px;
  padding:5px 15px;
  border-bottom: 1px solid black;
}
