form {
  padding-left:20px;
  left:30%;
  position:relative;
  width:50%;
  // text-align:center;
}

form {
  label {
    width:150px;
    display:inline-block;
    text-align:right;
    padding-right:20px;
  }
}

.form-add {
  border-radius:5px;
}

button {
  text-align:center;
  display:block;
  margin:auto;
  margin-bottom:100px;
}

h1 {
  font-size:40px;
}

h2 {
  font-size:25px;
}

// buttons in admin area

.flex {
  display:flex;
}

.flex-inner {
  flex-direction: column;
  padding-bottom:15px;
}

.flex-outer {
  align-items:start;
  justify-content: center;
  margin:auto;
}

@media only screen and (max-width: 900px) {
  .flex-outer {
    flex-direction: column;
  }
  .flex-inner {
    margin:auto;
  }
  .adminbutton {
    width:450px;
    padding:30px 50px 30px 50px;
  }
}

@media only screen and (min-width: 900px) {
  .adminbutton {
    width:270px;
    padding:60px 50px 60px 50px;
  }
}



.adminbutton {
  margin-left:10px;
  font-size:30px;
  text-align:center;
  margin-bottom:10px;
}

.adminbutton:hover {
  // padding:62px 52px 62px 52px;
  // margin-left:7px;
}

.add {
  box-shadow: 4px 4px 10px rgba(76,175,80 ,0.5);
}

.add:hover {
  box-shadow: 4px 4px 10px rgba(76,175,80 ,0.8);
}

.edit {
  box-shadow: 4px 4px 10px rgba(255,167,38 ,0.5);
}

.edit:hover {
  box-shadow: 4px 4px 10px rgba(255,167,38 ,0.8);
}

.remove {
  box-shadow: 4px 4px 10px rgba(229,57,53 ,0.5);
}

.remove:hover {
  box-shadow: 4px 4px 10px rgba(229,57,53 ,0.8);
}

.grid {
  display:grid;
  grid-template-columns: auto 500px;
  width:100%;
  margin:auto;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .grid {
    display:inline-block;
  }
}

#pedigree_add {
  top:50px;
  margin-bottom: 50px;
  width:180%;
  position:relative;
  left:-53%;
}

#pedigree_add {
  tr, td {
    border: 1px solid black;
  }
  border-collapse: collapse;
}
