
body {
    background-color: white;
    margin: 0;
    font-family: 'Lato';
    overflow-x:hidden;
}

a {
  text-decoration:none;
}

a:visited, a {
  color: inherit;
  text-decoration:none;
}


nav {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid white;

  div {
    color:white;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position:relative;

    * {
      color:white;
    }
  }

  div:nth-child(n+2)::before {
    content: '';
    display: block;
    height: 5px;
    width:0%;
    background-color: white;
    position:absolute;
    top:0;
    transition: all ease-in-out 250ms;
  }

  div:nth-child(n+2):hover::before {
    width:100%;
  }

  div:first-child {
    font-size:25px;
    flex-grow:100;
    padding-left:30px;
  }
}

#logo {
  font-family: 'PT-sans';
}

$base-top: 200px;
$base-height: 40px;

.stripe {
  position:absolute;
  width:200%;
  left:-100px;
  height:$base-height;
  transform: rotate(-8deg);
  z-index: -10;
  opacity: 0.9;
}
#stripe {
  background-color:#FBCEB1;
  top:$base-top;
}

#stripe2 {
  background-color:rgba(121,85,72 ,1);
  top:$base-top+$base-height+3;
}

#stripe3 {
  background-color:white;
  top:$base-top+(2*($base-height+3));
}

#stripe4 {
  background-color:grey;
  top:$base-top+(3*($base-height+3));
}

#stripe5 {
  background-color:black;
  top:$base-top+(4*($base-height+3));
}

#background {
  position:fixed;
  width:100%;
  height:100%;
  z-index:-2;
  opacity:0.5;
  // background-image: linear-gradient(red, yellow);
}


//login
#login {
  text-align:center;
}

.input-login {

  width:230px;
}

#login-submit {
  border:0px;
  background-color:black;
  color:white;
  text-align:center;
  margin:auto;
  display:block;
  width:236px;
}

#login-box {
  border: 1px solid grey;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  height: 400px;
}

.input-login, #login-submit {
  font-size:20px;
  padding:10px;
}
