body {
    background-color: white;
    margin: 0;
}

a {
  text-decoration:none;
}

a:visited, a {
  color: inherit;
  text-decoration:none;
}


nav {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;

  div {
    color:white;
    padding:15px;

    * {
      color:white;
    }
  }

  div:first-child {
    font-size:25px;
    flex-grow:100;
    padding-left:30px;
  }
}
