
body {
    background-color: white;
    margin: 0;
    font-family: 'Lato';
    overflow-x:hidden;
}

a {
  text-decoration:none;
}

a:visited, a {
  color: inherit;
  text-decoration:none;
}

header {
  background-color: black;
  border-bottom: 1px solid white;
  color:white;
  display:flex;
}

nav {

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  overflow: hidden;
  transition: height ease-in-out 250ms;

  div {
    color:white;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position:relative;

    * {
      color:white;
    }
  }

  div::before {
    content: '';
    display: block;
    height: 5px;
    width:0%;
    background-color: white;
    position:absolute;
    top:0;
    left:50%;
    transition: all ease-in-out 300ms;
  }

  div:hover::before {
    width:100%;
    left:0%;
  }
}

#logo {
  margin:auto;
  font-family: 'PT-sans';
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left:30px;
  font-size:25px;
  flex-grow:100;
}

.hamburger {
  order: 3;
  // opacity:0;
  display:none;
}

#label_hamburger {
  order: 3;
  margin:auto;
  margin-right:20px;
  display:none;
  padding:10px;
  transform-origin: top left;
}

#inner_hamburger, #inner_hamburger::before, #inner_hamburger::after {
  width:31px;
  height:3px;
  background-color:white;
  display:block;
  position:relative;
  transition: all ease-in-out 300ms;
  border-radius: 3px;
}

#inner_hamburger::before {
  content: '';
  top: -9px;
  transform-origin: center left;
}

#inner_hamburger::after {
  content: '';
  top: 6px;
  transform-origin: center left;
}


.hamburger:checked ~ #label_hamburger {
  #inner_hamburger {
    width:28px;
    background-color: inherit;
  }
  #inner_hamburger::before {
    top: -10px;
    visibility: visible;
    transform-origin: center left;
    transform: rotate(45deg) translate(-1.2px);
  }
  #inner_hamburger::after {
    visibility: visible;
    left: 1px;
    transform: rotate(-45deg) translate(-3px);
    transform-origin: center left;
  }
}

@media only screen and (max-width: 800px) {
  .hamburger {
    margin-right:60px;
  }
  nav {
    flex-direction: column;
    display:block;
    height: 0px;
    .navlink {
    }
  }
  .hamburger:checked ~ nav {
    display:block;
    height: 250px;
  }

  #label_hamburger{
    display: block;
  }
}


$base-top: 200px;
$base-height: 40px;

.stripe {
  position:absolute;
  width:200%;
  left:-100px;
  height:$base-height;
  transform: rotate(-8deg);
  z-index: -10;
  opacity: 0.9;
}
#stripe {
  background-color:#FBCEB1;
  top:$base-top;
}

#stripe2 {
  background-color:rgba(121,85,72 ,1);
  top:$base-top+$base-height+3;
}

#stripe3 {
  background-color:white;
  top:$base-top+(2*($base-height+3));
}

#stripe4 {
  background-color:grey;
  top:$base-top+(3*($base-height+3));
}

#stripe5 {
  background-color:black;
  top:$base-top+(4*($base-height+3));
}

#background {
  position:fixed;
  width:100%;
  height:100%;
  z-index:-2;
  opacity:0.5;
  // background-image: linear-gradient(red, yellow);
}


//login
#login {
  text-align:center;
}

.input-login {

  width:230px;
}

#login-submit {
  border:0px;
  background-color:black;
  color:white;
  text-align:center;
  margin:auto;
  display:block;
  width:236px;
}

#login-box {
  border: 1px solid grey;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  height: 400px;
}

.input-login, #login-submit {
  font-size:20px;
  padding:10px;
}
