body {
    background-color: lightgray;
}

a {
  text-decoration:none;
}

a:visited, a {
  color:initial;
  text-decoration:none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  div {
    flex-basis: 60px;
  }
}
