#pedigree {
  margin: auto;
}


#pedigree td {
  border: 1px solid black;
}

#info {
  width:50%;
}

h2 {
  margin-left:60px;
}

table {
  width: 80%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align:center;
}

th {
  font-weight: bold;
}

td {
  min-height: 30px;
}

table div {
  padding:10px;
}


//responsive
