

#pedigree td {
  border: 1px solid black;
}

#info {
  width:50%;
}

table {
  width: 90%;
  border-collapse: collapse;
  text-align:center;
  background: #F1F1F1;
  margin:auto;
  font-size:15px;
}

th {
  font-weight: bold;
  padding:10px;
  font-size:20px;
}

td, th {
  padding-left:20px;
  text-align: left;
}

td {
  min-height: 30px;
}

table div {
  padding:5px;
}

tr:last-child {
  td {
    // padding-bottom:20px;
  }
}

tr:nth-child(2n+1) {
  background: #FCFCFC;
}

thead tr {
  background: #F1F1F1 !important;
}

//responsive

@media only screen and (max-width: 970px) {

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
    // top: 6px;

  }
  td, th {
    display:block;
  }

  th {
    position:absolute;
    top: -9999px;
    left: -9999px;
  }

  td::before {
    left: 6px;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
    position:absolute;
  }

  td:first-child {
    padding: 0px;
    text-align:center;
    font-size:35px;
    padding-top:20px;
    padding-bottom:10px;
    border-bottom: none;
    font-weight:600;
  }

  td:first-child::before {
    display:none;
  }

  td::before {
    content: attr(data-title);
  }
}

#filtrButton, #filtr {
  text-align:center;
  margin:auto;
}

#filtrButton {
  cursor: pointer;
  width:50px;
}

#filtrButton::before {
  content: attr(data-open);
}

#filtr {
  max-height: 0px;
  overflow: hidden;
  width:350px;

  div {
    text-align:right;
  }

  input {
    width: 150px;
    margin-left:10px;
  }

}
