

#pedigree td {
  border: 1px solid black;
}

#info {
  width:50%;
}

table {
  width: 90%;
  border-collapse: collapse;
  text-align:center;
  background: #F1F1F1;
  margin:auto;
  font-size:15px;
}

th {
  font-weight: bold;
  padding:10px;
  font-size:20px;
}

td, th {
  padding-left:20px;
  text-align: left;
}

td {
  min-height: 30px;
}

table div {
  padding:5px;
}

tr:last-child {
  td {
    // padding-bottom:20px;
  }
}

tr:nth-child(2n) {
  background: #FCFCFC;
}
